body {
  background-color: antiquewhite;
}
h1 {
  text-align: center;
}
.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.group-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
